<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a1anwang.okble" >
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        >
        <activity android:name=".permission.PermissionUtils$PermissionActivity"
            android:theme="@style/Transparent_Activity"
            />
    </application>
</manifest>
