<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a1anwang.okble_demo">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DeviceDetailActivity">
        </activity>
        <activity android:name=".activity.ScanActivity">
        </activity>
        <activity android:name=".activity.CharacteristicActivity">
        </activity>
        <activity android:name=".activity.AdvertiseActivity">
        </activity>
        <activity android:name=".activity.ScanBeaconActivity">
        </activity>
        <activity android:name=".activity.BeIBeaconActivity">
        </activity>
        <activity android:name=".activity.MonitorBeaconRegionActivity">
        </activity>
    </application>

</manifest>